<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="six columns kudo_list">
      <h4>Received Kudos</h4>
      <%= react_component :List, { path: kudo_path(@user.id) } %>
    </div>

    <div class="six columns">
      <h4>Give <%= @user.first_name %> Kudos</h4>
      <%= react_component :KudoBox, { path: kudos_path, receiver_id: @user.id } %>
    </div>
  </div>
</div>
