<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
      <strong><%= @user.organization.try!(:name) %></strong>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= react_component :KudoBox, { path: kudos_path,
                                      receiver_id: @user.id,
                                      over_limit: current_user.over_limit? } %>

      <div class="kudo_list">
        <%= react_component :List, { path: kudo_path(@user.id) } %>
      </div>

    </div>
  </div>
</div>
